<div class="city-edit">
  <h1>{{title}}</h1>
  <p *ngIf="this.id && !city"><em>Loading...</em></p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <p>
      <mat-error *ngIf="form.invalid && form.hasError('isDupeCity')">
        <strong>ERROR</strong>:
        A city with the same <i>name</i>, <i>lat</i>,
        <i>lon</i> and <i>country</i> already exists.
      </mat-error>
    </p>

    <!-- Name -->
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" required
             placeholder="Type a name">
      <mat-error *ngIf="this.form.controls['name'].errors?.['required']">
        Name is required.
      </mat-error>
    </mat-form-field>

    <!-- Lat -->
    <mat-form-field>
      <mat-label>Latitude:</mat-label>
      <input matInput formControlName="lat" required
             placeholder="Insert latitude">
      <mat-error *ngIf="this.form.controls['lat'].errors?.['required']">
        Latitude is required.
      </mat-error>
    </mat-form-field>

    <!-- Lon -->
    <mat-form-field>
      <mat-label>Longitude:</mat-label>
      <input matInput formControlName="lon" required
             placeholder="Insert longitude">
      <mat-error *ngIf="this.form.controls['lon'].errors?.['required']">
        Longitude is required.
      </mat-error>
    </mat-form-field>

    <!-- Country -->
    <mat-form-field *ngIf="countries">
      <mat-label>Select a Country...</mat-label>
      <mat-select formControlName="countryId">
        <mat-option *ngFor="let country of countries"
                    [value]="country.id">
          {{country.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.form.controls['countryId'].errors?.['required']">
        Please select a Country.
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-flat-button color="primary"
              type="submit"
              [disabled]="!form.valid">
        {{ this.id ? "Save" : "Create" }}
      </button>
      <button mat-flat-button color="secondary"
              [routerLink]="['/cities']">
        Cancel
      </button>
    </div>
  </form>
</div>
