<header>
  <mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>
        home
      </mat-icon>
    </button>
    <a mat-flat-button color="primary" [routerLink]="['/cities']">
      Cities
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/countries']">
      Countries
    </a>
    <span class="separator"></span>
    <a *ngIf="!isLoggedIn" mat-flat-button color="primary"
       [routerLink]="['/login']">
      Login
    </a>
    <a *ngIf="isLoggedIn" mat-flat-button color="primary"
       (click)="onLogout()">
      Logout
    </a>
  </mat-toolbar>
</header>
